spring:
  application:
    name: cinemamaisvoce

  main:
    banner-mode: off

  datasource:
    url: jdbc:postgresql://${DB_HOSTT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: WARN
    org.springframework: WARN
    org.hibernate: WARN

server:
  port: 8080


#openai:
#  api:
#    key: ${OPENAI_APIKEY}
